<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>Chat Room</title>
</head>
<body>
    <textarea id="chat-log" cols="100" rows="20"></textarea><br/>
    <input id="chat-message-input" type="text" size="100"/><br/>
    <input id="chat-message-submit" type="button" value="Registrarse"/>
    <input id="broadcast-poll-submit" type="button" value="Preguntar votacion"/>
    <input id="answer-poll-ok" type="button" value="A favor"/>
    <input id="answer-poll-against" type="button" value="En contra"/>
    <input id="broadcast-speakers-submit" type="button" value="Preguntar oradores"/>

</body>
<script>
    var roomName = {{ room_name_json }};
    var rol = {{rol}};
    var token = 0;

    //console.log('ws://' + window.location.host +
    '/ws/server/' + roomName + '/'+ rol + '/');

    var chatSocket = new WebSocket(
        'ws://' + window.location.host +
        '/ws/server/' + roomName + '/'+ rol + '/');

    chatSocket.onmessage = function(e) {
        var data = JSON.parse(e.data);
        var message = data['question'];
        document.querySelector('#chat-log').value += (message + '\n');
        //console.log(data);
    };

    chatSocket.onclose = function(e) {
        console.error('Chat socket closed unexpectedly');
    };

    document.querySelector('#chat-message-input').focus();
    document.querySelector('#chat-message-input').onkeyup = function(e) {
        if (e.keyCode === 13) {  // enter, return
            document.querySelector('#chat-message-submit').click();
        }
    };

    document.querySelector('#chat-message-submit').onclick = function(e) {
        var messageInputDom = document.querySelector('#chat-message-input');
        var message = messageInputDom.value;
        chatSocket.send(JSON.stringify({
            'type': 'register',
            'rol' : rol,
            'token': token,
        }));
        chatSocket.send(JSON.stringify({
            'type': 'get_flag',
        }));


        messageInputDom.value = '';
    };

    document.querySelector('#broadcast-poll-submit').onclick = function(e) {
        chatSocket.send(JSON.stringify({
            'type': 'broadcast_ask',
            'subject' : 'votacion',
            'question' : 'Su voto es..?',
            'options': [{'text': 'Afirmativo', 'color': 'green', 'value': 'yes'}, {'text': 'En contra', 'color': 'red', 'value':'no'}, {'text': 'Abstencion', 'color': 'grey', 'value':'abs'}]
        }));

        messageInputDom.value = '';
    };

    document.querySelector('#broadcast-speakers-submit').onclick = function(e) {
        chatSocket.send(JSON.stringify({
            'type': 'broadcast_ask',
            'subject' : 'oradores',
            'question' : 'Participa de lista de oradores?',
            'options': [{'text': 'si', 'color': 'green', 'value': 'yes'}, {'text': 'no', 'color': 'red', 'value':'no'}]
        }));

        messageInputDom.value = '';
    };

    document.querySelector('#answer-poll-ok').onclick = function(e) {
        chatSocket.send(JSON.stringify({
            'subject' : 'votacion',
            'type': 'answer_ask',
            'selected' : 'yes',
        }));

        messageInputDom.value = '';
    };

    document.querySelector('#answer-poll-against').onclick = function(e) {
        chatSocket.send(JSON.stringify({
            'subject' : 'votacion',
            'type': 'answer_ask',
            'selected' : 'no',
        }));

        messageInputDom.value = '';
    };



</script>
</html>
